@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

body {
  padding: 30px;
  background-color: #012d5e;
}